{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ "members.list.title"|trans }}
{% endblock %}

{% block body %}
    <div class="container license-container">
        <div class="heading-container">
            <h1>{{ "members.list.title"|trans }} ({{ count }})</h1>
            <form class="search-engine" action="" method="GET">
                <input class="search-input" type="text" name="query" placeholder="Rechercher">
                <button class="search-btn btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href="#" class="advanced-research-link">{{ "members.list.advanced_search"|trans }}</a>
            </form>
        </div>

        {{ parent() }}

        <section class="advanced-search-engine">
            <span class="close-btn">&times;</span>
            <h2>{{ "members.list.advanced_search"|trans }}</h2>
            <form action="{{ path('app_members') }}" method="GET">
                <div class="search-firstname">
                    <label for="firstname">{{ "members.list.firstname"|trans }}</label>
                    <input type="text" id="firstname" name="firstname" />
                </div>
                <div class="search-lastname">
                    <label for="lastname">{{ "members.list.lastname"|trans }}</label>
                    <input type="text" id="lastname" name="lastname" />
                </div>
                <div class="search-gender">
                    <label for="gender">{{ "members.list.gender.label"|trans }}</label>
                    <select id="gender" name="gender">
                        <option value="" default></option>
                        <option value="H">{{ "members.list.gender.male"|trans }}</option>
                        <option value="F">{{ "members.list.gender.female"|trans }}</option>
                    </select>
                </div>
                <div class="search-age-min">
                    <label for="ageMin">{{ "members.list.age_min"|trans }}</label>
                    <input type="number" id="ageMin" name="ageMin" />
                </div>
                <div class="search-age-max">
                    <label for="ageMax">{{ "members.list.age_max"|trans }}</label>
                    <input type="number" id="ageMax" name="ageMax" />
                </div>
                <div class="search-license-status">
                    <label for="licenseStatus">{{ "members.list.license_status"|trans }}</label>
                    <select id="licenseStatus" name="licenseStatus">
                        <option value="" default></option>
                        <option value="1">{{ "license.status.demanded"|trans }}</option>
                        <option value="2">{{ "license.status.document_downloaded"|trans }}</option>
                        <option value="3">{{ "license.status.document_received"|trans }}</option>
                        <option value="4">{{ "license.status.document_validated"|trans }}</option>
                        <option value="5">{{ "license.status.in_order"|trans }}</option>
                    </select>
                </div>
                <button class="advanced-search-btn btn" type="submit">{{ "members.list.search_btn"|trans }}</button>
            </form>
        </section>

        <table>
            <thead>
                <tr>
                    <th data-order="u.lastname" data-direction="ASC">{{ "members.list.lastname"|trans }} <i class="fa-solid fa-sort"></i></th>
                    <th data-order="u.firstname">{{ "members.list.firstname"|trans }} <i class="fa-solid fa-sort"></i></th>
                    <th data-order="u.gender">{{ "members.list.gender.label"|trans }} <i class="fa-solid fa-sort"></i></th>
                    <th data-order="u.date_of_birth">{{ "members.list.age"|trans }} <i class="fa-solid fa-sort"></i></th>
                    <th>{{ "members.list.license"|trans }} {{ 'now'|date('Y') }}</th>
                    <th data-order="l.status">{{ "members.list.license_status"|trans }} {{ 'now'|date('Y') }} <i class="fa-solid fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr class="member-row" data-member-id="{{ member.id }}" data-locale="{{ app.request.locale }}">
                        <td>{{ member.lastname }}</td>
                        <td>{{ member.firstname }}</td>
                        <td>{{ member.gender }}</td>
                        {# Age calculation #}
                        {% set age = date().diff(member.dateOfBirth).y %}
                        <td>{{ age }}</td>
                        <td>
                            <ul>
                                {% for license in member.licenses %}
                                    {% for sub_category in license.subCategories %}
                                        <li>{{ sub_category.name }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% for license in member.licenses %}
                                {% set licenseStatus = license.status %}
                                {% set licenseStatusTrans = {
                                    1: "license.status.demanded"|trans,
                                    2: "license.status.document_downloaded"|trans,
                                    3: "license.status.document_received"|trans,
                                    4: "license.status.document_validated"|trans,
                                    5: "license.status.in_order"|trans,
                                } %}
                                {{ licenseStatusTrans[licenseStatus] ?? '' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(members) }}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // get locale
            const locale = {{ app.request.locale|json_encode|raw }}

            // get page number
            const path = window.location.pathname;
            const parts = path.split('/');
            let page = parts[parts.length - 1] == 'members' ? 1 : parts[parts.length - 1];

             // Define initial sort direction
            const queryString = window.location.search;
            const params = new URLSearchParams(queryString);
            let direction = params.get('dir');
            // Avoid 'null' value in search query
            let simpleSearch = params.get('q') ?? '';

            // Replace null values with empty string for advanced search parameters
            const advancedSearchParameters = {
                'firstname': params.get('firstname') ?? '',
                'lastname': params.get('lastname') ?? '',
                'gender': params.get('gender') ?? '',
                'ageMin': params.get('ageMin') ?? '',
                'ageMax': params.get('ageMax') ?? '',
                'licenseStatus': params.get('licenseStatus') ?? ''
            };
            

            // Link on <tr> redirectin to member's profile
            const tableRows = document.querySelectorAll(".member-row");
            tableRows.forEach(row => {
                row.addEventListener("click", () => {
                    const memberId = row.dataset.memberId;
                    if (memberId) {
                        window.location.href = `/${locale}/profile/${memberId}`;
                    }
                });
                // bold when cursor on tr
                row.addEventListener('mouseover', () => {
                    row.classList.add('focus');
                })
                // unbold when cursor out of tr
                row.addEventListener('mouseout', () => {
                    row.classList.remove('focus');
                })
            });

            // Sort table
            const tableTh = document.querySelectorAll('th');
            tableTh.forEach(th => {
                th.addEventListener('click', () => {
                    const orderBy = th.dataset.order;
                    // reinitialize page number
                    page = 1;
                    direction = direction == 'ASC' ? 'DESC' : 'ASC';

                    if (orderBy) {
                        const url = simpleSearch ? `/${locale}/members/${page}?q=${simpleSearch}&order=${orderBy}&dir=${direction}` : `/${locale}/members/${page}?firstname=${advancedSearchParameters.firstname}&lastname=${advancedSearchParameters.lastname}&gender=${advancedSearchParameters.gender}&ageMin=${advancedSearchParameters.ageMin}&ageMax=${advancedSearchParameters.ageMax}&licenseStatus=${advancedSearchParameters.licenseStatus}&order=${orderBy}&dir=${direction}`;
                        window.location.href = url;
                    }
                })
            })

            // Search engine
            const searchInput = document.querySelector('.search-input');
            const searchButton = document.querySelector('.search-btn');
            searchInput.value = simpleSearch;
            searchButton.addEventListener('click', event => {
                event.preventDefault();
                // reinitialize page number
                page = 1;
                const query = searchInput.value;
                window.location.href = `/${locale}/members/${page}?q=${query}`;
            })

            // Advanced Search Engine


            // Open advanced Search Engine 
            const advancedSearchLink = document.querySelector('.advanced-research-link');
            const searchEngineBox = document.querySelector('.search-engine');
            const advancedSearchEngineBox = document.querySelector('.advanced-search-engine');
            advancedSearchLink.addEventListener('click', e => {
                e.preventDefault();
                advancedSearchEngineBox.classList.add('active');
                searchEngineBox.classList.add('inactive');
            });

            // Close advanced Search Engine 
            const closeBtn = document.querySelector('.close-btn');
            closeBtn.addEventListener('click', () => {
                advancedSearchEngineBox.classList.remove('active');
                searchEngineBox.classList.remove('inactive');
            })
        });
    </script>
{% endblock %}
