{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
<div class="container profile-container">
  <div class="heading-container">

    <h1>{{ pageTitle }}</h1>

    {% if app.user == user %}
      <a class="btn-update" href=" {{ path('app_profile_update') }}">
        <i class="fa-regular fa-pen-to-square"></i>
      </a>
    {% endif %}

  </div>

  {{ parent() }}

  <div class="profile-important-info">
    <div class="profile-picture">
      <div class="profile-picture-container">

        {% if user.profilePicture starts with 'http' %}
          <img class="profile-member-picture" src="{{ user.profilePicture }}" alt="Profile picture of {{ user.firstname }}">
        {% else %}
          <img class="profile-member-picture" src="{{ asset('uploads/user_pictures/' ~ user.profilePicture) }}" alt="Profile picture of {{ user.firstname }}">
        {% endif %}
        <img class="profile-flag" src="{{ asset('images/flags/' ~ user.nationality.alpha2 ~ '.png') }}" alt="{{ user.nationality.name }} flag" title="{{ user.nationality.name }} flag">

      </div>
    </div>

    <div class="card profile-member-info">

      <div class="profile-member-name">
        <p class="profile-member-lastname">{{ user.lastname }}</p>
        <p class="profile-member-firstname">{{ user.firstname }}</p>
      </div>

      <div class="birthdate">
        <p>{{ user.dateOfBirth|date("d/m/Y") }}</p>
      </div>

      <div class="profile-member-numbers">
        <p>{{ user.licenseNumber }}</p>
      </div>

    </div>
  </div>

  <div class="card profile-member-children">
    {% if user.children|length > 0 %}
      <h2>{{ "profile.children.title"|trans }}</h2>
      <ul>
        {% for child in user.children %}
          <li>
            <p>{{ child.firstname }} {{ child.lastname }} | {{ child.dateOfBirth|date("d/m/Y") }}</p>
          </li>
        {% endfor %}
      </ul>
      
    {% else %}
      <a href="" class="btn">{{ "profile.children.add"|trans }}</a>
    {% endif %}
  </div>

  <div class="flex-container">

    <div class="card profile-member-contact">
      <h2>{{ "profile.contact_information"|trans }}</h2>
      <p>Email: {{ user.email }}</p>
      <p>{{ "profile.phone"|trans }} {{ user.phoneNumber }}</p>
      <p>{{ "profile.mobile"|trans }} {{ user.mobileNumber }}</p>
    </div>

    <div class="card profile-member-address">
      <h2>{{ "profile.address"|trans }}</h2>
      <p>{{ user.addressStreet }} {{ user.addressNumber }}</p>
      <p>{{ user.zipCode }} {{ user.locality }}</p>
      <p>{{ user.country.name }}</p>
    </div>

    <div class="card profile-member-agreements">
      <h2>{{ "profile.agreements"|trans }}</h2>
      <p>
        Newsletter LFBBS:
        {% if user.newsletterLFBBS %}
        <i class="fas fa-check agree"></i>
        {% else %}
        <i class="fas fa-times disagree"></i>
        {% endif %}
      </p>

      <p>
        {{ "profile.internal_rules"|trans }}
        {% if user.internalRules %}
        <i class="fas fa-check agree"></i>
        {% else %}
        <i class="fas fa-times disagree"></i>
        {% endif %}
      </p>

      <p>
        {{ "profile.privacy_policy"|trans }}
        {% if user.privacyPolicy %}
        <i class="fas fa-check agree"></i>
        {% else %}
        <i class="fas fa-times disagree"></i>
        {% endif %}
      </p>
      
    </div>
  </div>
</div>
{% endblock %}
