{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
	{{ pageTitle }}
{% endblock %}

{% block body %}
	<div class="container profile-container">
		<div class="heading-container">

			<h1>{{ pageTitle }}</h1>

			{% if app.user == user %}
				<a class="btn-update" href=" {{ path('app_profile_update') }}">
					<i class="fa-regular fa-pen-to-square"></i>
				</a>
			{% endif %}

		</div>

		{{ parent() }}

		<div class="card-user">
			<div class="user-picture-container">
				{% if user.profilePicture starts with 'http' %}
					<img class="user-picture" src="{{ user.profilePicture }}" alt="Profile picture of {{ user.firstname }}">
				{% else %}
					<img class="user-picture" src="{{ asset('uploads/user_pictures/' ~ user.profilePicture) }}" alt="Profile picture of {{ user.firstname }}">
				{% endif %}
				<img class="flag" src="{{ asset('images/flags/' ~ user.nationality.alpha2 ~ '.png') }}" alt="{{ user.nationality.name }} flag" title="{{ user.nationality.name }} flag">
			</div>

			<div class="card user-info">

				<div class="user-name">
					<p class="user-lastname">{{ user.lastname }}</p>
					<p class="user-firstname">{{ user.firstname }}</p>
				</div>

				<div class="birthdate">
					<p>{{ user.dateOfBirth|date("d/m/Y") }}</p>
				</div>

				<div class="user-numbers">
					<p>{{ user.licenseNumber }}</p>
				</div>

			</div>
		</div>

		<div class="flex-container">

			<div class="card user-contact">
				<h2>{{ "profile.contact_information"|trans }}</h2>
				<p>Email:
					{{ user.email }}</p>
				<p>{{ "profile.phone"|trans }}
					{{ user.phoneNumber }}</p>
				<p>{{ "profile.mobile"|trans }}
					{{ user.mobileNumber }}</p>
			</div>

			<div class="card user-address">
				<h2>{{ "profile.address"|trans }}</h2>
				<p>{{ user.addressStreet }}
					{{ user.addressNumber }}</p>
				<p>{{ user.zipCode }}
					{{ user.locality }}</p>
				<p>{{ user.country.name }}</p>
			</div>

			<div class="card user-agreements">
				<h2>{{ "profile.agreements"|trans }}</h2>
				<p>
					Newsletter LFBBS:
					{% if user.newsletterLFBBS %}
						<i class="fas fa-check agree"></i>
					{% else %}
						<i class="fas fa-times disagree"></i>
					{% endif %}
				</p>

				<p>
					{{ "profile.internal_rules"|trans }}
					{% if user.internalRules %}
						<i class="fas fa-check agree"></i>
					{% else %}
						<i class="fas fa-times disagree"></i>
					{% endif %}
				</p>

				<p>
					{{ "profile.privacy_policy"|trans }}
					{% if user.privacyPolicy %}
						<i class="fas fa-check agree"></i>
					{% else %}
						<i class="fas fa-times disagree"></i>
					{% endif %}
				</p>

			</div>
		</div>
		{% if user.age >= 18 %}
			<div class="children-container">
				<div class="heading-container">
					<h2>{{ childrenTitle }}</h2>
					{% if app.user == user %}
						<a href="{{ path('app_children_create') }}" class="btn-add"></a>
					{% endif %}
				</div>
				<div class="flex-container">
					{% if user.children|length > 0 %}
						{% for child in user.children %}
							<div class="card-user">
								<div class="user-picture-container">
									{% if child.profilePicture starts with 'http' %}
										<img class="user-picture" src="{{ child.profilePicture }}" alt="Profile picture of {{ child.firstname }}">
									{% else %}
										<img class="user-picture" src="{{ asset('uploads/user_pictures/' ~ child.profilePicture) }}" alt="Profile picture of {{ child.firstname }}">
									{% endif %}
									<img class="flag" src="{{ asset('images/flags/' ~ child.nationality.alpha2 ~ '.png') }}" alt="{{ child.nationality.name }} flag" title="{{ child.nationality.name }} flag">
								</div>

								<div class="card user-info">

									<div class="user-name">
										<p class="user-lastname">{{ child.lastname }}</p>
										<p class="user-firstname">{{ child.firstname }}</p>
									</div>

									<div class="birthdate">
										<p>{{ child.dateOfBirth|date("d/m/Y") }}</p>
									</div>

									<div class="user-numbers">
										<p>{{ child.licenseNumber }}</p>
									</div>

									<div class="switch-user">
										<a class="switch-account-menu-item" data-action-url="{{ path('app_switch_user', { 'userId' : child.id }) }}">
											<i class="fa-solid fa-shuffle icon"></i>
										</a>
									</div>

								</div>
							</div>
						{% endfor %}
					{% else %}
						<p>{{ "profile.children.no_children"|trans }}</p>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
