{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'forms.update_profile.title'|trans }}{% endblock %}

{% block body %}
    <div class="container container-register">
        <h1>{{ 'forms.update_profile.title'|trans }}</h1>

        {# Display flash messages #}
        {{ parent() }}

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.firstname, {'label': 'forms.firstname'|trans}) }}

        {{ form_row(form.lastname, {'label': 'forms.lastname'|trans}) }}

        {{ form_row(form.nationality, {'label': 'forms.nationality'|trans}) }}

        {{ form_row(form.license_number, {'label': 'forms.license_number'|trans, 'required': false}) }}

        {{ form_row(form.jersey_number, {'label': 'forms.jersey_number'|trans, 'required': false}) }}

        {{ form_row(form.date_of_birth, {
            'label': 'forms.date_of_birth'|trans,
            'widget': 'single_text',
            'format': 'yyyy-MM-dd',
            'attr': {
                'class': 'datepicker',
            },
        }) }}

        {{ form_row(form.gender, {'label': 'forms.gender'|trans}) }}

        {{ form_row(form.address_street, {'label': 'forms.address_street'|trans}) }}

        {{ form_row(form.address_number, {'label': 'forms.address_number'|trans}) }}

        {{ form_row(form.zipcode, {'label': 'forms.zipcode'|trans}) }}

        {{ form_row(form.locality, {'label': 'forms.locality'|trans}) }}

        {{ form_row(form.country, {'label': 'forms.country'|trans}) }}

        {{ form_row(form.phone_number, {'label': 'forms.phone_number'|trans, 'required': false}) }}

        {{ form_row(form.mobile_number, {'label': 'forms.mobile_number'|trans, 'required': false}) }}

        {{ form_row(form.profile_picture, {'label': 'forms.profile_picture.label'|trans, 'id': 'profile_picture_input'}) }}
        <p class="disclaimer-picture alert alert-warning">{{ 'forms.profile_picture.disclaimer'|trans }}</p>

        <div id="previewPicture">
            <img id="previewImage" src="{{ asset('uploads/user_pictures/' ~ image) }}">
        </div>

        <div class="custom-checkbox">
            {{ form_row(form.newsletter_lfbbs, {'label': 'forms.newsletter_lfbbs'|trans, 'required': false}) }}
        </div>

        <div class="custom-checkbox">
            {{ form_row(form.internal_rules, {
                'label': 'forms.internal_rules'|trans,
                'label_html': true,
            }) }}
        </div>

        {{ form_row(form.submit, {'label': 'forms.update_profile.submit'|trans}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
