{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container container-register">
        <h1>Modifier mon profil</h1>

        {{ form_start(form) }}
        
        {{ form_errors(form) }}

        {{ form_row(form.firstname, {'label': 'Prénom', 'required': true}) }}

        {{ form_row(form.lastname, {'label': 'Nom de famille', 'required': true}) }}

        {{ form_row(form.nationality, {'label': 'Nationalité', 'required': true}) }}

        {{ form_row(form.license_number, {'label': 'Numéro de licence', 'required': false}) }}

        {{ form_row(form.jersey_number, {'label': 'Numéro de maillot', 'required': false}) }}

        {{ form_row(form.date_of_birth, {
            'widget': 'single_text',
            'format': 'yyyy-MM-dd',
            'attr': {
                'class': 'datepicker',
            },'required': true
        }) }}

        {{ form_row(form.gender, {'label': 'Genre', 'required': true}) }}

        {{ form_row(form.address_street, {'label': 'Adresse', 'required': true}) }}

        {{ form_row(form.address_number, {'label': 'Numéro de rue', 'required': true}) }}

        {{ form_row(form.zipcode, {'label': 'Code postal', 'required': true}) }}

        {{ form_row(form.locality, {'label': 'Localité', 'required': true}) }}

        {{ form_row(form.country, {'label': 'Pays', 'required': true}) }}

        {{ form_row(form.phone_number, {'label': 'Numéro de téléphone', 'required': false}) }}

        {{ form_row(form.mobile_number, {'label': 'Numéro de portable', 'required': false}) }}

        {{ form_row(form.profile_picture, {'label': 'Photo de profil', 'id': 'profile_picture_input'}) }}

        <div id="previewPicture">
            <img id="previewImage" src="{{ asset('uploads/user_pictures/' ~ image) }}">
        </div>

        <div class="custom-checkbox">
            {{ form_row(form.newsletter_lfbbs, {'label': 'J\'accepte de recevoir la newsletter de la LFBBS', 'required': false}) }}
        </div>

        <div class="custom-checkbox">
            {{ form_row(form.internal_rules, {'label': 'J\'accepte le Règlement d\'Ordre Intérieur', 'required': true}) }}
        </div>

        {{ form_row(form.submit, { 'label': 'Modifier mon profil' }) }}

        {{ form_end(form) }}
    </div>
{% endblock %}


