<table class="payment-orders-table">
    <tr>
        <th class="player">{{ 'payment.table.player'|trans }}</th>
        <th class="deadline">{{ 'payment.table.deadline'|trans }}</th>
        <th class="price">{{ 'payment.table.price'|trans }}</th>
        <th class="actions"></th>
    </tr>
    {% for order in paymentOrders %}

        {% set isLate = order.dueDate < date() ? true : false %}
        {% set isPaid = order.valueDate != NULL ? true : false %}

        <tr class="{{ isPaid ? 'paid' : 'to-be-paid' }} {{ isLate ? 'late' : '' }}">
            <td class="player">{{ order.payment.license.user.firstname }} {{ order.payment.license.user.lastname }}</td>
            <td class="deadline">{{ order.dueDate|date('m/Y') }}</td>
            <td class="price">{{ order.amount|format_currency('EUR') }}</td>
            <td class="actions">
                <a href="{{ path('admin_payment_order_detail', { orderId : order.id}) }}">
                    <i class="fa-solid fa-circle-info"></i>
                </a>
                <a href="{{ path('admin_payment_order_quick_validate', { orderId : order.id }) }}">
                    <i class="fa-regular fa-circle-check"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
