{% extends 'base.html.twig' %}
{% set pageTitle = action == 'create' ? 'team.create.title'|trans : 'team.update.title'|trans %}

{% block title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    <div class="container container-form-team">
        <div class="heading-container">
            <h1>{{ pageTitle }}</h1>
        </div>

        {{ parent() }}

        {{ form_start(form) }}

        {{ form_errors(form) }}
        
        {{ form_row(form.name, {'label': 'team.name', 'row_attr': { 'class': 'name' }}) }}

        {{ form_row(form.coach, {'label': 'team.coach', 'row_attr': { 'class': 'coach' }}) }}

        {{ form_row(form.assistant, {'label': 'team.assistant', 'row_attr': { 'class': 'assistant' }}) }}

        {{ form_row(form.logo, {'label': 'team.logo', 'id': 'profile_picture_input', 'row_attr': { 'class': 'team-logo' }}) }}

        <div id="previewPicture">
            {% if action == 'update' %}
                <img id="previewImage" src="{{ asset('uploads/logo_teams/' ~ logo) }}">
            {% else %}
                <img id="previewImage" src="">
            {% endif %}
        </div>
        
        {{ form_row(form.save, {'label': (action == 'update' ? 'team.update.btn' : 'team.create.btn'), 'row_attr': { 'class': 'submit' } }) }}
        
        {{ form_end(form) }}
    </div>

    {% block javascript %}
        {{ encore_entry_script_tags('picturePreview') }}
    {% endblock %}
{% endblock %}