{# License Statuses #}
{% set LICENSE_DEMANDED = 1 %}
{% set LICENSE_DOC_DOWNLOADED = 2 %}
{% set LICENSE_DOC_RECEIVED = 3 %}
{% set LICENSE_DOC_VALIDATED = 4 %}
{% set LICENSE_IN_ORDER = 5 %}

{# Payment types #}
{% set BY_BANK_TRANSFER = 2 %}
{% set BY_PAYMENT_PLAN = 3 %}

{# Payment Statuses #}
{% set PAYMENT_PENDING = NULL %}
{% set PAYMENT_ACCEPTED = 1 %}

<div class="license-card">
    <div class="season">
        <p class="label-season">{{ 'license.table.season' | trans }}</p>
        <p class="data-season">{{ license.season }}</p>
    </div>
    <div class="status">
        <p class="label-status">{{ 'license.table.status' | trans }} :</p>
        <p class="data-status">
            {% if license.status == LICENSE_DEMANDED %}
            {{ 'license.status.demanded' | trans }}
            {% elseif license.status == LICENSE_DOC_DOWNLOADED %}
            {{ 'license.status.document_downloaded' | trans }}
            {% elseif license.status == LICENSE_DOC_RECEIVED %}
            {{ 'license.status.document_received' | trans }}
            {% elseif license.status == LICENSE_DOC_VALIDATED %}
            {{ 'license.status.document_validated' | trans }}
            {% elseif license.status == LICENSE_IN_ORDER %}
            {{ 'license.status.in_order' | trans }}
            {% endif %}
        </p>
    </div>
    {% if license.status == LICENSE_DOC_RECEIVED %}
    <p class="alert alert-warning">
        {{ 'license.card.waiting_validation' | trans }}
    </p>
    {% endif %}
    <div class="details">
        <p class="label-details">{{ 'license.table.details' | trans }} :</p>
        <div class="data-details">
            <ul>
                {% for sub_category in license.subcategories %}
                <li>{{ sub_category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="price">
        <p class="label-price">{{ 'license.card.price' | trans }}</p>
        {% if license.price is not null %}
        <p class="data-price">{{ license.price|format_currency('EUR') }}</p>
        {% else %}
        <p class="data-price">{{ 'license.card.tbd' | trans }}</p>
        <p class="price-helper" title="{{
            'license.card.price-helper' | trans
        }}">?
        <p>{% endif %}</p>
    </div>

    <div class="created-date">
        <p class="label-created-date">{{ 'license.card.asked' | trans }}</p>
        <p class="data-created-date">{{ license.createdAt|date("d/m/Y") }}</p>
    </div>
</div>

<div class="actions license-btns">

    {% if license.status == LICENSE_DEMANDED %}

    <a
        class="btn"
        href="{{ path('app_license_generate', { licenseId: license.id }) }}"
        >{{ 'license.card.download' | trans }}</a
    >

    {% elseif license.status == LICENSE_DOC_DOWNLOADED %}
    
    <a
        class="btn"
        href="{{ path('app_license_generate', { licenseId: license.id }) }}"
        >{{ 'license.card.download' | trans }}</a
    >
    <a
        class="btn cta"
        href="{{ path('app_license_upload', { licenseId: license.id }) }}"
        >{{ 'license.card.upload' | trans }}</a
    >

    {% elseif license.status == LICENSE_DOC_VALIDATED and license.payments|length <= 0 %}
    
    <a
        class="btn"
        href="{{ path('app_license_checkout', { licenseId: license.id }) }}"
        >
        <i class="fa-regular fa-credit-card icon"></i>
        <i class="fa-brands fa-paypal icon"></i>
        {{ 'license.card.pay_by_card' | trans }}</a
    >
    <a
        class="btn"
        href="{{ path('app_license_create_bank_transfer', { licenseId: license.id }) }}"
        >
        <i class="fa-solid fa-money-bill-transfer icon"></i>
        {{ 'license.card.pay_by_bank_transfer' | trans }}</a
    >
    <a
        class="btn"
        href="{{ path('app_license_request_payment_plan', { licenseId: license.id }) }}"
        >
        <i class="fas fa-calendar-alt icon"></i>
        {{ 'license.card.ask_plan' | trans }}</a
    >
    
    {% elseif license.status == LICENSE_DOC_VALIDATED and license.payments|length > 0 %}
        <div class="payment-card">
        {% if (license.payments[0].paymentType == BY_BANK_TRANSFER) %}
            {# TODO : traduire #}
                <h2>Je paye par virement</h2>
                <div class="transfer-data">
                    <h3>Effectue le virement comme suit :</h3>

                    <p>Liège Rebels Baseball & Softball Club</p>
                    <p>IBAN : BE22 3601 0058 3447</p>
                    <p>Communication : {{ license.user.lastName|upper }} {{ license.user.firstname }} - COTISATION {{ license.season }}
                    <p>Montant : {{ license.price|format_currency('EUR') }}
                </div>
                <a class="btn btn-cta" href="{{ path('app_license_delete_bank_transfer', { licenseId : license.id }) }}">Changer de moyen de paiement</a>
            

        {% elseif license.payments[0].paymentType == BY_PAYMENT_PLAN %}
            <h2>Votre plan de paiement personnalisé</h2>
            <div class="payment-plan-request-data">
            {% if license.payments[0].status == PAYMENT_ACCEPTED %}
                <p>Voici mon plan de paiement :</p>
            {% else %}
                <p class="alert alert-warning">Demande de plan de paiement en cours de validation</p>
            {% endif %}
            </div>
        {% endif %}
        </div>

    {% endif %}
</div>
