{# License Statuses #}
{% set LICENSE_DEMANDED = 1 %}
{% set LICENSE_DOC_DOWNLOADED = 2 %}
{% set LICENSE_DOC_RECEIVED = 3 %}
{% set LICENSE_DOC_VALIDATED = 4 %}
{% set LICENSE_IN_ORDER = 5 %}

<table class="license-table">
    <tr>
        <th>{{ "license.table.season"|trans }}</th>
        <th>{{ "license.table.status"|trans }}</th>
        <th>{{ "license.table.details"|trans }}</th>
    </tr>
    {% for license in licenses %}
        <tr>
            <td>{{ license.season }}</td>
            <td>
                {% if license.status == LICENSE_DEMANDED %}
                    {{ 'license.status.demanded'|trans }}
                {% elseif license.status == LICENSE_DOC_DOWNLOADED %}
                    {{ 'license.status.document_downloaded'|trans }}
                {% elseif license.status == LICENSE_DOC_RECEIVED %}
                    {{ 'license.status.document_received'|trans }}
                {% elseif license.status == LICENSE_DOC_VALIDATED %}
                    {{ 'license.status.document_validated'|trans }}
                {% elseif license.status == LICENSE_IN_ORDER %}
                    {{ 'license.status.in_order'|trans }}
                {% endif %}
            </td>
            <td>
                <ul>
                    {% for sub_category in license.subcategories %}
                        <li>{{ sub_category.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>
