{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ event.name }} {% endblock %}

{% block body %}
<div class="container container-detail-event">

    {# Confirmation modal when deleting an event #}
    {% include 'shared/modal_confirmation.html.twig' with { 'id': 'confirmation-modal', 'message' : "modal.event"|trans } %}

    <div class="heading-container">
        <h1>
            {% if event.isCancelled %}
            <span class="cancelled-label">[{{ 'agenda.cancelled'|trans }}] </span>
            {% endif %}
            [{{ event.team.name }}] {{ event.name }} @ {{ event.date|date('d/m/Y') }}
        </h1>
    </div>

    {{ parent() }}

    <div class="response">
        {% for attendee in event.attendees %}
            {% if attendee.user == app.user and event.isCancelled == false %}
            <a class="btn response-btn response-event-yes {{ attendee.userResponse == '1' or ( attendee.userResponse == NULL and attendee.userResponse != '0' ) ? '' : 'disabled' }}" href="{{ path('app_agenda_response', { 'id' : event.id, 'result' : 'accept' }) }}">{{ "agenda.present"|trans }}</a>
            <a class="btn response-btn response-event-no {{ attendee.userResponse == '0' or attendee.userResponse == NULL ? '' : 'disabled' }}" href="{{ path('app_agenda_response', { 'id' : event.id, 'result' : 'decline' }) }}">{{ "agenda.absent"|trans }}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="attendees">
        <h2>{{ "agenda.attendees"|trans }}</h2>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
        <a href="{{ path('app_agenda_attendance', { 'id' : event.id }) }}">
        {% endif %}
            <div class="card">
                <div class="attendees">
                        <p class="number">{{ attendees }}</p>
                        <p class="text">{{ "agenda.attendee"|trans }}{{ attendees > 1 ? 's' : '' }}</p>
                </div>

                <div class="awaiting">
                    <p class="number">{{ awaiting }}</p>
                    <p class="text">{{ "agenda.awaiting"|trans }}</p>
                </div>
                
                <div class="unavailable">
                    <p class="number">{{ unavailable }}</p>
                    <p class="text">{{ "agenda.unavailable"|trans }}{{ unavailable > 1 ? 's' : '' }}</p>
                </div>
            </div>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
        </a>
        {% endif %}

        {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') ) and event.isCancelled == false %}
        <a class="btn btn-invite" href="{{ path('app_agenda_invitation', { 'id' : event.id } ) }}">{{ "agenda.invite"|trans }}</a>
        {% endif %}
    </div>

    {% if event.timeMeeting %}
    <div class="meeting">
        <h2>{{ "agenda.meeting_at"|trans }}</h2>
        <div class="card">
            <p class="time">{{ event.timeMeeting|format_datetime('none', 'short') }}</p>
        </div>
    </div>
    {% endif %}

    <div class="info">
        <h2>{{ "agenda.practical_info"|trans }}</h2>
        <div class="card">
            <p>{{ "agenda.starts_at"|trans }} <span class="time">{{ event.timeFrom|format_datetime('none', 'short') }}</span></p>
            <p>{{ "agenda.ends_at"|trans }} <span class="time">{{ event.timeTo|format_datetime('none', 'short') }}</span></p>
            <div class="address">
                <p>{{ event.place.name }}
                <p>{{ event.place.addressStreet }} {{ event.place.addressNumber }}</p>
                <p>{{ event.place.addressZipcode }} {{ event.place.addressLocality }}</p>
                <p>{{ event.place.addressCountry.name }}</p>
            </div>
        </div>
    </div>

    {% if event.description %}
    <div class="description">
        <h2>{{ "agenda.description"|trans }}</h2>
        <div class="card">
            <p>{{ event.description }}</p>
        </div>
    </div>
    {% endif %}

    {% if ( is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') ) and event.isCancelled == false %}
    <div class="admin">
        <a class="btn" href="{{ path('app_agenda_update', { 'id' : event.id }) }}">{{ "agenda.edit"|trans }}</a>
        <a class="btn btn-danger delete-button" data-action-url="{{ path('app_agenda_delete', { 'id' : event.id }) }}">{{ "agenda.delete"|trans }}</a>
    </div>           
    {% endif %}
</div>

{% block javascript %}
    {{ encore_entry_script_tags('modalConfirmation') }}
{% endblock %}

{% endblock %}