{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ "homepage.title"|trans }} {% endblock %}

{% block body %}
<div class="container container-home">

    <h1>Clubhouse</h1>

    {# Display flash messages #}
    {{ parent() }}

    <div class="section-container">
    {% if activeLicenses|length == 0 %}
        <h2>To Do list</h2>
        <section>
            <ul>
                {% if isProfileComplete != true %}
                    <li><a href="{{ path('app_profile_update') }}">{{ "homepage.fill_in_profile"|trans }}</a></li>
                {% endif %}

                {% if pendingLicense is null %}
                    <li><a href="{{ path('app_license_create') }}">{{ "homepage.ask_license"|trans }}</a></li>
                {% elseif pendingLicense.status == 1 %}
                    <li><a href="{{ path('app_license_download', { 'licenseId' : pendingLicense.id }) }}">{{ "homepage.download_license"|trans }}</a></li>
                {% elseif pendingLicense.status == 2 %}
                    <li><a href="{{ path('app_license_upload', { 'licenseId' : pendingLicense.id }) }}">{{ "homepage.send_back_license"|trans }}</a></li>
                {% elseif pendingLicense.status == 3 %}
                    <li>{{ "homepage.license_to_validate"|trans }}</li>
                {% elseif pendingLicense.status == 4 %}
                    <li><a href="{{ path('app_license', { 'licenseId' : pendingLicense.id }) }}">{{ "homepage.pay_license"|trans }}</a></li>
                {% endif %}
            </ul>
        </section>
    {% endif %}
        <h2>{{ "homepage.next_event"|trans }}</h2>
        <section>
            
        </section>
    </div>
</div>
{% endblock %}