{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | Se connecter{% endblock %}

{% block body %}
<div class="container container-home">

    <h1>Clubhouse</h1>

    {# Display flash messages #}
    {{ parent() }}

    <div class="section-container">
    {% if activeLicenses|length == 0 %}
        <section>
            <div class="card">
                <h2 class="card-title">To Do list</h2>
                <div class="card-content">
                    <ul>

                        {% if isProfileComplete != true %}
                            <li><a href="{{ path('app_profile_update') }}">Complète ton profil</a></li>
                        {% endif %}

                        {% if pendingLicense is null %}
                            <li><a href="{{ path('app_license_create') }}">Demande une licence</a></li>
                        {% elseif pendingLicense.status == 1 %}
                            <li><a href="{{ path('app_license_download', { 'licenseId' : pendingLicense.id }) }}">Télécharge ta demande de license</a></li>
                        {% elseif pendingLicense.status == 2 %}
                            <li><a href="{{ path('app_license_upload', { 'licenseId' : pendingLicense.id }) }}">Renvoie-nous ta demande complétée et signée</a></li>
                        {% elseif pendingLicense.status == 3 %}
                            <li>Un administrateur va bientôt valider ta licence</li>
                        {% elseif pendingLicense.status == 4 %}
                            <li><a href="{{ path('app_license', { 'licenseId' : pendingLicense.id }) }}">Dernière étape : Paye ta licence</a></li>
                        {% endif %}
                    </ul>
                </div>
            
            </div>
        </section>
    {% endif %}
        <section>
            <h2>Prochains évènements</h2>
        </section>
    </div>
    
</div>
{% endblock %}