{% set realUser = get_original_user() %}

{% extends 'base.html.twig' %}

{% block title %}
	{{  parent() }}
	|
	{{ "homepage.title"|trans }}
{% endblock %}

{% block body %}
<div class="container container-home">

	<div class="heading-container">
		<h1>Clubhouse</h1>
	</div>

	{# Display flash messages #}
	{{ parent() }}

	<div class="flex-container">

		{# Confirmation modal when archiving a message #}
		{% include 'shared/modal_confirmation.html.twig' with { 'id': 'confirmation-modal', 'message' : "modal.message"|trans, "confirmButtonText" : "modal.btn.archive"|trans } %}

		<div class="left-column">
			<section class="todo-container">
				<h2><i class="fa-solid fa-list-check"></i> To Do list</h2>
				{% if activeLicenses|length == 0 %}
					<div class="to-do-list">
						<ul>
							{% if missingFields is not empty %}
								<li class="alert alert-error">
									<a href="{{ path('app_profile_update') }}">
										{{ "homepage.missing_fields"|trans }}
										{{ missingFields|map(field => ("profile." ~ field)|trans)|join(', ') }}
									</a>
								</li>
							{% endif %}

							{% if pendingLicense is null %}
								<li class="alert alert-warning">
									<a href="{{ path('app_license_create') }}">{{ "homepage.ask_license"|trans }}</a>
								</li>
							{% elseif pendingLicense.status == 1 %}
								<li class="alert alert-warning">
									<a href="{{ path('app_license_generate', { 'licenseId' : pendingLicense.id }) }}">{{ "homepage.download_license"|trans }}</a>
								</li>
							{% elseif pendingLicense.status == 2 %}
								<li class="alert alert-warning">
									<a href="{{ path('app_license_upload', { 'licenseId' : pendingLicense.id }) }}">{{ "homepage.send_back_license"|trans }}</a>
								</li>
							{% elseif pendingLicense.status == 3 %}
								<li class="alert alert-warning">{{ "homepage.license_to_validate"|trans }}</li>
							{% elseif pendingLicense.status == 4 %}
								<li class="alert alert-warning">
									<a href="{{ path('app_license', { 'licenseId' : pendingLicense.id }) }}">{{ "homepage.pay_license"|trans }}</a>
								</li>
							{% endif %}

							{% if isUnreadMessage > 0 %}
								<li class="alert alert-warning">
									<a href="{{ path('app_messages') }}">{{ "homepage.read_messages"|trans }}</a>
								</li>
							{% endif %}

							{% if app.user.children|length > 0 and awaiting_actions_children_count(app.user) > 0 %}
								<li class="alert alert-warning">
									<p>{{ "homepage.actions_children"|trans({ 'count' : awaiting_actions_children_count(app.user), 'children_count':app.user.children|length }) }}</p>
								</li>
							{% endif %}
						</ul>
					</div>
				{% else %}
					<p class="alert alert-success">{{ 'homepage.no_task'|trans }}</p>
				{% endif %}
			</section>

			<section class="agenda-container">
				
				<div class="pending-events">
					<h2><i class="fa-solid fa-clock-rotate-left"></i> {{ "agenda.waiting_reply"|trans }}</h2>
					{% if pendingEvents|length > 0 %}
						{% include 'shared/_card_event.html.twig' with { 'events': pendingEvents, 'isFutureEvent' : false, 'isAdmin' : false } %}
					{% else %}
						<p class="alert alert-warning">{{ 'agenda.no_event'|trans }}</p>
					{% endif %}
				</div>
				
				<div class="future-events">
					<h2><i class="fa-regular fa-calendar"></i> {{ "homepage.next_event"|trans }}</h2>
					{% if futureEvents|length > 0 %}
						{% include 'shared/_card_event.html.twig' with { 'events': futureEvents, 'isFutureEvent' : true, 'isAdmin' : false } %}
					{% else %}
						<p class="alert alert-warning">{{ 'agenda.no_event'|trans }}</p>
					{% endif %}
				</div>
				
			</section>
		</div>

		<div class="right-column">
			<section class="message-container">
				<h2><i class="fa-regular fa-envelope"></i> {{ "homepage.last_messages"|trans }}</h2>
				{% if messages|length > 0 %}
					{% include 'shared/_card_message.html.twig' with { 'messages': messages } %}
				{% else %}
					<p class="alert alert-warning">{{ 'message.index.no_message'|trans }}</p>
				{% endif %}
			</section>
		</div>
	</div>
</div>

{% block javascript %}
	{{ encore_entry_script_tags('modalConfirmation') }}
{% endblock %}

{% endblock %}
