{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ "members.list.title"|trans }}
{% endblock %}

{% block body %}
    <div class="container member-container locale-container" data-locale="{{  app.request.locale }}">
        <div class="heading-container">
            <h1>{{ "members.list.title"|trans }} ({{ count }})</h1>
            <form class="search-engine" method="GET">
                <input class="search-input" type="text" name="query" placeholder="{{ "members.list.search_btn"|trans }}">
                <button class="search-btn btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href="#" class="advanced-research-link">{{ "members.list.advanced_search"|trans }}</a>
            </form>
            <a class="btn-update advanced-research-link">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>

        {{ parent() }}

        <div class="card advanced-search-engine">
            <span class="close-btn">&times;</span>
            <h2>{{ "members.list.advanced_search"|trans }}</h2>
            <form action="{{ path('app_members') }}" method="GET">
                <div class="search-firstname">
                    <label for="firstname">{{ "members.list.firstname"|trans }}</label>
                    <input type="text" id="firstname" name="firstname">
                </div>
                <div class="search-lastname">
                    <label for="lastname">{{ "members.list.lastname"|trans }}</label>
                    <input type="text" id="lastname" name="lastname">
                </div>
                <div class="search-gender">
                    <label for="gender">{{ "members.list.gender.label"|trans }}</label>
                    <select id="gender" name="gender">
                        <option value="" selected>{{ 'members.list.all'|trans }}</option>
                        <option value="M">{{ "members.list.gender.male"|trans }}</option>
                        <option value="F">{{ "members.list.gender.female"|trans }}</option>
                    </select>
                </div>
                <div class="search-age-min">
                    <label for="ageMin">{{ "members.list.age_min"|trans }}</label>
                    <input type="number" id="ageMin" name="ageMin">
                </div>
                <div class="search-age-max">
                    <label for="ageMax">{{ "members.list.age_max"|trans }}</label>
                    <input type="number" id="ageMax" name="ageMax">
                </div>
                <div class="search-license-status">
                    <label for="licenseStatus">{{ "members.list.license_status"|trans }}</label>
                    <select id="licenseStatus" name="licenseStatus">
                        <option value="" selected>{{ 'members.list.all'|trans }}</option>
                        <option value="1">{{ "license.status.demanded"|trans }}</option>
                        <option value="2">{{ "license.status.document_downloaded"|trans }}</option>
                        <option value="3">{{ "license.status.document_received"|trans }}</option>
                        <option value="4">{{ "license.status.document_validated"|trans }}</option>
                        <option value="5">{{ "license.status.in_order"|trans }}</option>
                    </select>
                </div>
                <button class="advanced-search-btn btn" type="submit">{{ "members.list.search_btn"|trans }}</button>
            </form>
        </div>

        <table class="member-table">
            <thead>
                <tr>
                    <th class="profile-picture"></th>
                    <th class="lastname" data-order="u.lastname" data-direction="ASC">
                        {{ "members.list.lastname"|trans }} <i class="fa-solid fa-sort"></i>
                    </th>
                    <th class="firstname" data-order="u.firstname">
                        {{ "members.list.firstname"|trans }} <i class="fa-solid fa-sort"></i>
                    </th>
                    <th class="gender" data-order="u.gender">
                        {{ "members.list.gender.label"|trans }} <i class="fa-solid fa-sort"></i>
                    </th>
                    <th class="date_of_birth" data-order="u.date_of_birth">
                        {{ "members.list.age"|trans }} <i class="fa-solid fa-sort"></i>
                    </th>
                    <th class="license">
                        {{ "members.list.license"|trans }} {{ 'now'|date('Y') }}
                    </th>
                    <th class="license_status" data-order="l.status">
                        {{ "members.list.license_status"|trans }} {{ 'now'|date('Y') }} <i class="fa-solid fa-sort"></i>
                    </th>
                    <th class="license_document">
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr class="member-row" data-member-id="{{ member.id }}" data-locale="{{ app.request.locale }}">
                    <td class="profile-picture">
                        {% if member.profilePicture starts with 'http' %}
                            <img class="profile-member-picture" src="{{ member.profilePicture }}" alt="Profile picture of {{ member.firstname }}">
                        {% else %}
                            <img class="profile-member-picture" src="{{ asset('uploads/user_pictures/' ~ member.profilePicture) }}" alt="Profile picture of {{ member.firstname }}">
                        {% endif %}
                    </td>
                    <td class="lastname">{{ member.lastname }}</td>
                    <td class="firstname">{{ member.firstname }}</td>
                    <td class="gender">{{ member.gender }}</td>
                    {# Age calculation #}
                    {% set age = date().diff(member.dateOfBirth).y %}
                    <td class="date_of_birth">{{ age }}</td>
                    <td class="license">
                        <ul>
                        {% for license in member.licenses %}
                            {% for sub_category in license.subCategories %}
                                <li>{{ sub_category.name }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </td>
                    <td class="license_status">
                        {% for license in member.licenses %}
                            {% set licenseStatus = license.status %}
                            {% set licenseStatusTrans = {
                                1: "license.status.demanded"|trans,
                                2: "license.status.document_downloaded"|trans,
                                3: "license.status.document_received"|trans,
                                4: "license.status.document_validated"|trans,
                                5: "license.status.in_order"|trans,
                            } %}
                            {{ licenseStatusTrans[licenseStatus] ?? '' }}
                        {% endfor %}
                    </td>
                    <td class="license_document">
                    {% for license in member.licenses %}
                        {% if license.uploadedFile %}
                            <a class="" href="{{ asset('uploads/licenses/' ~ license.uploadedFile) }}" target="_blank"><i class="fa-regular fa-file-pdf icon"></i></a>
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(members) }}
        </div>
    </div>

    {% block javascript %}
        {{ encore_entry_script_tags('memberList') }}
    {% endblock %}

{% endblock %}
