{% extends 'base.html.twig' %}

{% block title %}
	{{  parent() }}
	|
	{{ "register.title"|trans }}
{% endblock %}

{% block body %}
	<div class="children-nb container container-register" data-children-nb="{{ form.children|length }}">
		<div class="heading-container">
			<h1>{{ "register.title"|trans }}</h1>
		</div>

		{{ form_start(form) }}

		<div id="children-list" data-prototype="{{ form_widget(form.children.vars.prototype)|e('html_attr') }}">
			{% for form in form.children %}
				<div class="form-user">
					<h2>{{ "register.children_data"|trans }}
						#{{ loop.index }}</h2>

					{{ form_errors(form) }}

					{{ form_row(form.relation_type) }}
					{{ form_row(form.firstname) }}
					{{ form_row(form.lastname) }}
					{{ form_row(form.gender) }}
					{{ form_row(form.date_of_birth, {
                    'widget': 'single_text',
                    'format': 'yyyy-MM-dd',})
                }}
					{{ form_row(form.nationality) }}
					{{ form_row(form.license_number, {'required': false }) }}
					{{ form_row(form.jersey_number, {'required': false }) }}

					{{ form_row(form.profile_picture, {'label': 'user.profile_picture.label', 'id': 'profile_picture_input', 'row_attr': { 'class': 'profile-picture' }}) }}
					<p class="disclaimer-picture alert alert-warning">{{ 'profile.picture.disclaimer'|trans }}</p>

					<div id="previewPicture">
						<img id="previewImage" src="">
					</div>

					{{ form_row(form.same_address_as_parent) }}

					{{ form_row(form.address_street) }}
					{{ form_row(form.address_number) }}
					{{ form_row(form.zipcode) }}
					{{ form_row(form.locality) }}
					{{ form_row(form.country) }}

					{{ form_row(form.phone_number, {'required': false }) }}
					{{ form_row(form.mobile_number, {'required': false }) }}

					{{ form_row(form.email) }}

					{{ form_row(form.can_use_app)}}
				</div>
			{% endfor %}
		</div>

		<button type="button" class="btn btn-secondary" id="add-child">{{ "children.add_child"|trans({}, 'forms') }}</button>
		<button type="button" class="btn btn-danger" id="remove-child" disabled>{{ "children.delete_child"|trans({}, 'forms') }}</button>

		<button type="submit" class="btn btn-primary">{{ "children.register_children"|trans({}, 'forms') }}</button>

		{{ form_end(form) }}
	</div>

	{% block javascript %}
		{{ encore_entry_script_tags('picturePreview') }}
		<script>
			const title = '{{ "register.children_data"|trans }}';
		</script>
		{{ encore_entry_script_tags('childrenRegistration') }}
	{% endblock %}
{% endblock %}
