{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ "register.title"|trans }}{% endblock %}

{% block body %}
    <div class="container container-register">
        <div class="heading-container">
            <h1>{{ "register.title"|trans }}</h1>
        </div>
        
        {{ form_start(form, {'attr': {'class' : 'form-user'}}) }}

        <h2>{{ "register.your_data"|trans }}</h2>
        
        {{ form_errors(form) }}

        {{ form_row(form.firstname, {'label': 'user.firstname', 'row_attr': { 'class': 'firstname' }}) }}

        {{ form_row(form.lastname, {'label': 'user.lastname', 'row_attr': { 'class': 'lastname' }}) }}

        {{ form_row(form.gender, {'label': 'user.gender.label', 'row_attr': { 'class': 'gender' }}) }}

        {{ form_row(form.date_of_birth, {
            'label': 'user.date_of_birth',
            'widget': 'single_text',
            'format': 'yyyy-MM-dd',
            'attr': {
                'class': 'datepicker',
            }, 
            'row_attr': { 'class': 'date-of-birth' }}) 
        }}

        {{ form_row(form.nationality, {'label': 'user.nationality', 'row_attr': { 'class': 'nationality' }}) }}

        {{ form_row(form.license_number, {'label': 'user.license_number', 'required': false, 'row_attr': { 'class': 'license-number' }}) }}

        {{ form_row(form.jersey_number, {'label': 'user.jersey_number', 'required': false, 'row_attr': { 'class': 'jersey-number' }}) }}

        {{ form_row(form.profile_picture, {'label': 'user.profile_picture.label', 'id': 'profile_picture_input', 'row_attr': { 'class': 'profile-picture' }}) }}
        <p class="disclaimer-picture alert alert-warning">{{ 'profile.picture.disclaimer'|trans }}</p>

        <div id="previewPicture">
            <img id="previewImage" src="">
        </div>

        {{ form_row(form.address_street, {'label': 'user.address_street', 'row_attr': { 'class': 'address-street' }}) }}

        {{ form_row(form.address_number, {'label': 'user.address_number', 'row_attr': { 'class': 'address-number' }}) }}

        {{ form_row(form.zipcode, {'label': 'user.zipcode', 'row_attr': { 'class': 'zipcode' }}) }}

        {{ form_row(form.locality, {'label': 'user.locality', 'row_attr': { 'class': 'locality' }}) }}

        {{ form_row(form.country, {'label': 'user.country', 'row_attr': { 'class': 'country' }}) }}

        {{ form_row(form.phone_number, {'label': 'user.phone_number', 'required': false, 'row_attr': { 'class': 'phone-number' }}) }}

        {{ form_row(form.mobile_number, {'label': 'user.mobile_number', 'required': false, 'row_attr': { 'class': 'mobile-number' }}) }}

        {{ form_row(form.email, {'label': 'user.email', 'row_attr': { 'class': 'email'}}) }}

        {{ form_row(form.password.first, {'label': 'user.password', 'row_attr': { 'class': 'password'}}) }}

        {{ form_row(form.password.second, {'label': 'user.password_confirmation', 'row_attr': { 'class': 'password-confirmation'}}) }}

        <p class="disclaimer-password alert alert-warning">{{ 'register.disclaimer.password'|trans|raw }}</p>

        <div class="custom-checkbox">
            {{ form_row(form.newsletter_lfbbs, {'label': 'user.newsletter_lfbbs' }) }}
        </div>

        <div class="custom-checkbox">
            {{ form_row(form.internal_rules, {
                'label': 'user.internal_rules',
                'label_html': true,
            }) }}
        </div>

        <div class="custom-checkbox">
            {{ form_row(form.privacy_policy, {
                'label': 'user.privacy_policy',
                'label_html': true,
            }) }}
        </div>

        {{ form_row(form.submit, { 'label': 'user.register.submit', 'row_attr': { 'class': 'submit' }}) }}

        {{ form_end(form) }}
    </div>

    {% block javascript %}
        {{ encore_entry_script_tags('picturePreview') }}
        {{ encore_entry_script_tags('registerPassword') }}
    {% endblock %}
{% endblock %}
