{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ "license.validation.page_title"|trans({'firstname' : license.user.firstname, "lastname" : license.user.lastname}) }}{% endblock %}

{% block body %}
<div class="container container-license-list-to-validate">
    <h1>{{ "license.validation.title"|trans }}</h1>

    {{ parent() }}

    <h2>{{ "license.validation.check.sub_title"|trans({'firstname' : license.user.firstname, 'lastname' : license.user.lastname }) }}</h2>
    {% if license.uploadedFile %}
        <a class="btn" href="{{ path('app_license_download', { 'licenseId' : license.id, 'type' : 'upload' }) }}" target="_blank">{{ "license.validation.check.btn"|trans }}</a>
    {% else %}
        <p class="alert alert-error">{{ "license.validation.no_document"|trans }}</p>
    {% endif %}

    {{ form_start(form, { "attr": { "class" : "validate_license" } }) }}

    <div class="approval-container">
        <h2>{{ "license.validation.price"|trans }}</h2>
        {# TODO: Ajouter un boutton aide qui reprend les règles des tarifs #}
        {{ form_row(form.price) }}

        <h2>{{ "license.validation.validate.sub_title"|trans }}</h2>
        {{ form_row(form.approval, { "label" : "license.validation.validate.btn"|trans }) }}
    </div>

    <div class="refusal-container">
        <h2>{{ "license.validation.incomplete"|trans }}</h2>
        {{ form_row(form.comment) }}

        <h2>{{ "license.validation.decline.sub_title"|trans }}</h2>
        {{ form_row(form.refusal, {"label" : "license.validation.decline.btn"|trans }) }}
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}