{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "team.detail.title"|trans }} {{ team.name }} {{ team.name }}{% endblock %}

{% block body %}
<div class="container container-team-detail">
    <h1>{{ "team.detail.title"|trans }} {{ team.name }}</h1>
    {{ parent() }}

    {% if is_granted('ROLE_ADMIN') %}
        <section class="add_user_to_team">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </section>
    {% endif %}

    <table class="license-table">
        <tr>
            <th class="jersey_cell">#</th>
            <th>{{ "team.detail.name"|trans }}</th>
            <th>{{ "team.detail.role"|trans }}</th>
            {% if is_granted('ROLE_COACH') %}
                <th class="action-remove"></th>
            {% endif %}
        </tr>

        {% for role, member in {'Coach': team.coach, 'Assistant': team.assistant} %}
            <tr>
                <td class="jersey_cell">{{ member.jerseyNumber | default('-') }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_profile', { 'userId': member.id }) }}">{{ member.firstname }} {{ member.lastname }}</a>
                    </td>
                {% else %}
                    <td>{{ member.firstname }} {{ member.lastname }}</td>
                {% endif %}
                <td>{{ role }}</td>
                {% if is_granted('ROLE_COACH') %}
                    <td class="action-remove"></td>
                {% endif %}
            </tr>
        {% endfor %}

        {% for player in players %}
            <tr class="">
                <td class="jersey_cell">{{ player.jerseyNumber | default('-') }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_profile', { 'userId': player.id }) }}">{{ player.firstname }} {{ player.lastname }}</a>
                    </td>
                {% else %}
                    <td>{{ player.firstname }} {{ player.lastname }}</td>
                {% endif %}
                <td>Joueur</td>
                {% if is_granted('ROLE_COACH') %}
                    <td class="action-remove">
                        <a href="{{ path('app_team_remove', { 'teamId': team.id, 'userId': player.id }) }}"><i class="fa-solid fa-trash icon icon-trash disagree"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        
    </table>
</div>
{% endblock %}