{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mes équipes{% endblock %}

{% block body %}
<div class="container container-team">
    <h1>Mes équipes</h1>

    {% if teamsAsCoach|length > 0 %}
        <h2>Coach/Assistant</h2>
        <div class="team-cards">
        {% for team in teamsAsCoach %}
            <section class="team">
                <img src="{{ logo_teams_directory ~ team.logo }}" alt="Logo de l'équipe" />
                <h2>{{ team.name }}</h2>
                <p><u>Coach</u> : {{ team.coach.firstname }} {{ team.coach.lastname }}</p>
                <a class="link-paragraph" href="{{ path('app_team_detail', { 'teamId': team.id }) }}">Voir les membres</a>
            </section>
        {% endfor %}
        </div>
    {% endif %}

    {% if teamsAsPlayer|length > 0 %}
        <h2>Joueur</h2>
        <div class="team-cards">
        {% for team in teamsAsPlayer %}
            <section class="team">
                <img src="{{ logo_teams_directory ~ team.logo }}" alt="Logo de l'équipe" />
                <h2>{{ team.name }}</h2>
                <p><u>Coach</u> : {{ team.coach.firstname }} {{ team.coach.lastname }}</p>
                <a class="link-paragraph" href="{{ path('app_team_detail', { 'teamId': team.id }) }}">Voir les membres</a>
            </section>
        {% endfor %}
        </div>
    {% endif %}

    {% if teamsAsPlayer|length == 0 and teamsAsCoach|length == 0 %}
        <div>
            <p class="alert alert-error">Vous n'avez pas encore d'équipe !</p> 
        </div>
    {% endif %}

</div>
{% endblock %}
