{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ "password.reset.email.title"|trans }}{% endblock %}

{% block body %}
    <div class="container container-reset-password">
        <p>
            {{ "password.reset.email.text"|trans|raw }}{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>{{ 'password.reset.email.not_received'|trans }}</p>
    </div>
{% endblock %}
