<h1>{{ "reset_password.title"|trans({}, "emails") }}</h1>

<p>{{ "reset_password.message"|trans({}, "emails") }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ "reset_password.expires"|trans({}, "emails") }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{ "signature"|trans({}, "emails") }}</p>
