{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ "password.request.title"|trans }}{% endblock %}

{% block body %}
<div class="container container-reset-password">
    <div class="heading-container">
        <h1>{{ "password.request.title"|trans }}</h1>
    </div>

    {# Display flash messages #}
    {{ parent() }}

    {{ form_start(requestForm, { 'attr' : { 'class' : 'reset-form' }}) }}
        <div>
            <h2 class="reset-password disclamer">
                {{ "password.request.disclamer"|trans }}
            </h2>
        </div>

        {{ form_row(requestForm.email, { 'row_attr': { 'class': 'email' }}) }}

        <button class="btn btn-primary submit">{{ "password.reset.title"|trans }}</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
