{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'stat.title'|trans }}{% endblock %}

{% block body %}
<div class="container statistic-container locale-container" data-locale="{{  app.request.locale }}">
    <h1>{{ 'stat.title'|trans }}</h1>
    <div class="training-container">
        <div class="heading-container">
            <h2><i class="fas fa-running"></i> {{ 'stat.presence_training'|trans }}</h2>
            {% if yearsForTrainingStats|length > 0 %}
                <select id="yearTrainingSelect">
                {% for year in yearsForTrainingStats %}
                   <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
                </select>
            {% else %}
                <p class="alert alert-warning">{{ 'stat.no_stat'|trans }}</p>
            {% endif %}
        </div>
        <canvas id="trainingStat"></canvas>
    </div>

    <div class="game-container">
        <div class="heading-container">
            <h2><i class="fas fa-trophy"></i> {{ 'stat.presence_game'|trans }}</h2>
            {% if yearsForGameStats|length > 0 %}
                <select id="yearGameSelect">
                {% for year in yearsForGameStats %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
                </select>
            {% else %}
                <p class="alert alert-warning">{{ 'stat.no_stat'|trans }}</p>
            {% endif %}
        </div>
        <canvas id="gameStat"></canvas>
    </div>
</div>

{% block javascript %}
    {{ encore_entry_script_tags('statistics') }}
{% endblock %}

{% endblock %}
