{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ event.name }} {% endblock %}

{% block body %}
<div class="container container-attendance-event">
    <h1>[{{ event.team.name }}] {{ event.name }} @ {{ event.date|date('d/m/Y') }}</h1>

    {{ parent() }}

    {% block attendees %}
        {% set attendees = event.attendees %}
        {% set attending = attendees|filter(item => item.userResponse == '1') %}
        {% set awaiting = attendees|filter(item => item.userResponse is null) %}
        {% set unavailable = attendees|filter(item => item.userResponse == '0') %}

        <div class="container-list">

            {% include 'agenda/partial_list.html.twig' with {
                'title': "agenda.attendee"|trans|capitalize,
                'attendees': attending
            } %}

            {% include 'agenda/partial_list.html.twig' with {
                'title': "agenda.awaiting"|trans|capitalize,
                'attendees': awaiting
            } %}

            {% include 'agenda/partial_list.html.twig' with {
                'title': "agenda.unavailable"|trans|capitalize,
                'attendees': unavailable
            } %}

        </div>
    {% endblock %}

    <a class="btn btn-invite" href="{{ path('app_agenda_invitation', { 'id' : event.id } ) }}">{{ "agenda.invite"|trans }}</a>
</div>
{% endblock %}
