{% extends 'base.html.twig' %}
{% set pageTitle = action == 'create' ? 'agenda.create.title'|trans : 'agenda.update.title'|trans %}

{% block title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
<div class="container container-create-event">
    <h1>{{ pageTitle }}</h1>

    {{ parent() }}

    {{ form_start(form) }}

        {{ form_row(form.name, {'label': 'event.name'}) }}
        {{ form_row(form.description, {'label': 'event.description'}) }}
        {{ form_row(form.category, {'label': 'event.category'}) }}
        {{ form_row(form.team, {'label': 'event.team'}) }}
        {{ form_row(form.date, {'label': 'event.date'}) }}
        <div></div>

        <div class="custom-checkbox">
            {{ form_row(form.is_recurrent, {'label': 'event.recurring'}) }}
        </div>
        
        {{ form_row(form.end_date, {'label': 'event.end_date'}) }}
        {{ form_row(form.frequency, {'label': 'event.frequency.label'}) }}

        {{ form_row(form.time_meeting, {'label': 'event.meeting_time'}) }}
        {{ form_row(form.time_from, {'label': 'event.start_time'}) }}
        {{ form_row(form.time_to, {'label': 'event.end_time'}) }}
        {{ form_row(form.place, {'label': 'event.place'}) }}

        {{ form_row(form.submit, { 'label': (action == 'update' ? 'event.btn.update' : 'event.btn.create') }) }}

    {{ form_end(form) }}
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const checkbox = document.getElementById('{{ form.is_recurrent.vars.id }}');
    const startDateLabel = document.querySelector('label[for="event_start_date"]');
    const endDateLabel = document.querySelector('label[for="event_end_date"]');
    const frequencyLabel = document.querySelector('label[for="event_frequency"]');
    const endDateField = document.getElementById('event_end_date');
    const frequencyField = document.getElementById('event_frequency');

    const toggleFields = () => {
        const isRecurrentChecked = checkbox.checked;

        endDateField.style.display = isRecurrentChecked ? 'block' : 'none';
        frequencyField.style.display = isRecurrentChecked ? 'block' : 'none';

        endDateLabel.style.display = isRecurrentChecked ? 'block' : 'none';
        frequencyLabel.style.display = isRecurrentChecked ? 'block' : 'none';
    };

    checkbox.addEventListener('change', toggleFields);

    toggleFields();
});
</script>
{% endblock %}
