{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon agenda{% endblock %}

{% block body %}
<div class="container container-agenda">
    <div class="agenda-heading">
        <h1>Mon agenda</h1>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
            <a href="{{ path('app_create_event') }}" class="btn btn-desktop">Ajouter</a>
            <a href="{{ path('app_create_event') }}" class="btn-mobile"></a>
        {% endif %}
    </div>

    {# Flash messages #}
    {{ parent() }}

    {% if pendingEvents|length > 0 %}
        <h2>En attente</h2>
        {% for pendingEvent in pendingEvents %}
            <section class="card-event-container">
                <div class="info-event">
                    <p class="event-date">{{ pendingEvent.date|date("d/m/Y") }} - {{ pendingEvent.timeFrom|format_datetime('none', 'short', locale='fr') }}</p>
                    <p class="event-type">[{{ pendingEvent.team.name }}] {{ pendingEvent.name }}</p>
                </div>
                <div class="response-event">
                    <a class="btn response-event-yes" href="{{ path('app_invitation_response', { 'id' : pendingEvent.id, 'result' : 'accept' }) }}">V</a>
                    <a class="btn response-event-no" href="{{ path('app_invitation_response', { 'id' : pendingEvent.id, 'result' : 'decline' }) }}">X</a>
                </div>
            </section>
        {% endfor %}
    {% endif %}

    <h2>Prochains</h2>
    {% if futureEvents|length > 0 %}
        <div class="next-events">
            {% for futureEvent in futureEvents %}
                <section class="card-event-container">
                    <div class="info-event">
                        <p class="event-date">{{ futureEvent.date|date("d/m/Y") }} - {{ futureEvent.timeFrom|format_datetime('none', 'short', locale='fr') }}</p>
                        <p class="event-type">[{{ futureEvent.team.name }}] {{ futureEvent.name }}</p>
                    </div>
                    
                    {%  for attendee in futureEvent.attendees %}
                        {% if attendee.user.id == app.user.id and attendee.userResponse == '1' or attendee.userResponse == '0' %}
                        <div class="response-event">
                            <a class="btn response-event-yes {{ attendee.userResponse == true ? '' : 'disabled' }}" href="{{ path('app_invitation_response', { 'id' : futureEvent.id, 'result' : 'accept' }) }}">V</a>
                            <a class="btn response-event-no {{ attendee.userResponse == false ? '' : 'disabled' }}" href="{{ path('app_invitation_response', { 'id' : futureEvent.id, 'result' : 'decline' }) }}">X</a>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
                        <div class="admin-btn">
                            <a class="btn btn-invite" href="{{ path('app_invitation', { 'id' : futureEvent.id } ) }}">Inviter</a>
                            <a class="icon icon-edit" href="{{ path('app_update_event', { 'id' : futureEvent.id }) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a class="icon icon-delete" href="{{ path('app_delete_event', { 'id' : futureEvent.id }) }}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    {% endif %}
                </section>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(futureEvents) }}
        </div>
    {% else %}
        <p>Aucun événement à venir.</p>
    {% endif %}
</div>
{% endblock %}
