{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "agenda.invite_to"|trans }} {{ event.name }}{% endblock %}

{% block body %}
<div class="container container-invitation">
    <h1>{{ "agenda.invite_to"|trans }} {{ event.name }}</h1>

    {% if form.invitedUsers is not empty %}
        {{ form_start(form) }}
        
        <h2>{{ "agenda.teams"|trans }}</h2>

        {% for team in form.invitedTeams %}
            <div class="checkbox-pair">
                {{ form_widget(team, {'attr': {'id': 'custom_id_teams_' ~ team.vars.value}}) }}
                {{ form_label(team) }}
            </div>
        {% endfor %}

        <h2>{{ "agenda.players"|trans }}</h2>
        
            {% for user in form.invitedUsers %}
                <div class="checkbox-pair">
                    {{ form_widget(user, {'attr': {'id': 'custom_id_users_' ~ user.vars.value}}) }}
                    {{ form_label(user) }}
                </div>
            {% endfor %}
        
        <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
        
        {{ form_row(form.invite, { 'label': 'event.invite' }) }}
        {{ form_end(form) }}
    {% else %}
        <p>{{ "agenda.no_player_to_invite"|trans }}</p>
    {% endif %}
</div>
{% endblock %}
