{% extends 'base.html.twig' %}

{% block body %}
<div class="container container-invitation">
    <h1>Inviter à {{ event.name }}</h1>

    {% if form.invitedUsers is not empty %}
        {{ form_start(form) }}
        
        <h2>Equipes</h2>

        {% for team in form.invitedTeams %}
            <div class="checkbox-pair">
                {{ form_widget(team, {'attr': {'id': 'custom_id_teams_' ~ team.vars.value}}) }}
                {{ form_label(team) }}
            </div>
        {% endfor %}

        <h2>Joueurs</h2>
        
            {% for user in form.invitedUsers %}
                <div class="checkbox-pair">
                    {{ form_widget(user, {'attr': {'id': 'custom_id_users_' ~ user.vars.value}}) }}
                    {{ form_label(user) }}
                </div>
            {% endfor %}
        
        <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
        
        {{ form_row(form.invite) }}
        {{ form_end(form) }}
    {% else %}
        <p>Aucun joueur à inviter.</p>
    {% endif %}
</div>
{% endblock %}
