{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | Clubhouse{% endblock %}

{% block body %}
<div class="container container-login">
    
    <img class="login-logo" src="{{ asset('images/logo_152x152.png') }}" alt="Rebels Logo">

    {% if error %}
    <div class="alert alert-error">
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    </div>
    {% endif %}

    {# Display flash messages #}
    {{ parent() }}

    <form class="login-form" action="{{ path('app_login') }}" method="post">
        <label for="username">Email</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">{{ "login.password"|trans }}</label>
        <input class="login-password" type="password" id="password" name="_password">

        <p class="forgot-password"><a href="{{ path("app_forgot_password_request") }}">{{ "login.forgot_password"|trans }}</a> </p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn login" type="submit">{{ "login.login"|trans }}</button>
    </form>

    <p class="new-member">{{ "login.not_member"|trans }} <a class="link-new-member" href="{{ path('app_register') }}">{{ "login.signup"|trans }}</a></p>
</div>
{% endblock %}
