{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "license.download.title"|trans }}{% endblock %}

{% block body %}
<div class="container container-download-license">
    <h1>{{ "license.download.title"|trans }}</h1>

    <h2>{{ "license.download.title_here"|trans }}</h2>
    <a href="{{ path('app_license_download', { 'licenseId' : licenseId, 'type' : 'demand' }) }}" target="_blank"><button class="cta">{{ "license.download.btn"|trans }}</button></a>

    <h2>{{ "license.download.check_data.title"|trans }}</h2>
    <p>{{ "license.download.check_data.text_1"|trans }} <a class="link-paragraph" href="{{ path('app_profile_update') }}">{{ "license.download.check_data.text_link"|trans }}</a> {{ "license.download.check_data.text_2"|trans }}<p>

    <h2>{{ "license.download.complete.title"|trans }}</h2>

    <div class="license-instructions">
        <div class="license-left">
            <h3>{{ "license.download.complete.left"|trans }}</h3>
            <img src="{{ asset('images/license_left.png') }}" />
        </div>
        <div class="license-right">
            <h3>{{ "license.download.complete.right"|trans }}</h3>
            <img src="{{ asset('images/license_right.png') }}" />
        </div>
    </div>
    

    <h2>{{ "license.download.upload.title"|trans }}</h2>
    <a href="{{ path('app_license_upload', { 'licenseId' : licenseId }) }}"><button class="cta">{{ "license.download.upload.btn"|trans }}</button></a>
</div>
{% endblock %}