{# templates/license/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Demander une licence{% endblock %}

{% block body %}
<div class="container container-add-license">
    <h1>Demander une licence</h1>

    <p>Tu es nouveau, la casquette officielle de notre club est intégrée dans la cotisation.</p>
    <p>Les U12 et U15 bénéficient également du t-shirt officiel du club.</p>

    <p>MONTANT DE LA COTISATION (ANNÉE CIVILE) : </br> -18 ANS : 220€ </br>> 19 ans et + : 280€</p>

    <p>Si tu nous rejoins entre juillet et septembre : le montant est de 160€.</p>
    <p>Pour le dernier trimestre d’octobre à décembre, il est de 100€.</p>

    <h2>Tu veux nous rejoindre ? Complète le formulaire ci-dessous !</h2>

    {{ form_start(form) }}
    {{ form_row(form.season, {'label' : 'Saison'}) }}
    {{ form_row(form.subCategories, { 'label' : 'Choisissez une ou plusieurs licences :'}) }}
    
    <button type="submit" class="btn cta">Ajouter</button>
    {{ form_end(form) }}
</div>
{% endblock %}