{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "license.request.title"|trans }}{% endblock %}

{% block body %}
<div class="container container-add-license">
    <h1>{{ "license.request.title"|trans }}</h1>

    {{ "license.request.text"|trans|raw }}

    {{ form_start(form) }}
    {{ form_row(form.season, {'label' : 'license.season.label'}) }}
    {{ form_row(form.subCategories, { 'label' : 'license.sub_category.label'}) }}
    {{ form_row(form.submit, { 'label' : 'license.request.btn', 'row_attr': { 'class': 'submit' }}) }}

    {{ form_end(form) }}
</div>
{% endblock %}