{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "license.index.title"|trans }}{% endblock %}

{% block body %}
    <div class="container license-container">
        <h1>{{ "license.index.title"|trans }}</h1>

        {{ parent() }}

        {% if currentYearActiveLicenses|length == 0 and currentYearPendingLicenses|length == 0 and pastYearsLicenses|length > 0 %}
            <div class="no-license-this-year">
                <p class="alert alert-warning">
                    {{ "license.index.none_current_year"|trans }}
                </p>
                <a href="{{ path('app_license_create') }}">
                    <button class="cta">{{ "license.index.request_btn"|trans }}</button>
                </a>
            </div>
        {% endif %}

        {% if currentYearActiveLicenses|length == 0 and currentYearPendingLicenses|length == 0 and pastYearsLicenses|length == 0 %}
            <div class="no-license">
                <p class="alert alert-error">
                    {{ "license.index.none"|trans }}
                </p>
                <br />
                <a href="{{ path('app_license_create') }}">
                    <button class="cta">{{ "license.index.request_first"|trans }}</button>
                </a>
            </div>
        {% endif %}

        {% if currentYearActiveLicenses|length > 0 %}
            <h2>{{ "license.index.active"|trans({'number' : currentYearActiveLicenses|length }) }}</h2>
            {{ include('/license/partial_card.html.twig', {'licenses' : currentYearActiveLicenses, 'include_actions' : false}) }}
        {% endif %}

        {% if currentYearPendingLicenses|length > 0 %}
            <h2>{{ "license.index.pending"|trans({'number' : currentYearPendingLicenses|length} ) }}</h2>
            {{ include('/license/partial_card.html.twig', {'licenses' : currentYearPendingLicenses, 'include_actions' : true}) }}
        {% endif %}

        {% if pastYearsLicenses|length > 0 %}
            <h2>{{ "license.index.expired"|trans({'number' : pastYearsLicenses|length} ) }}</h2>
            {{ include('/license/partial_table.html.twig', {'licenses' : pastYearsLicenses, 'include_actions' : false}) }}
        {% endif %}
    </div>
{% endblock %}
