<table class="license-table">
    <tr>
        <th>{{ "license.table.season"|trans }}</th>
        <th>{{ "license.table.status"|trans }}</th>
        <th>{{ "license.table.details"|trans }}</th>
        {% if include_actions %}
            <th class="column-actions"></th>
        {% endif %}
    </tr>
    {% for license in licenses %}
        <tr>
            <td>{{ license.season }}</td>
            <td>
                {% if license.status == 1 %}
                    {{ 'license.status.demanded'|trans }}
                {% elseif license.status == 2 %}
                    {{ 'license.status.document_downloaded'|trans }}
                {% elseif license.status == 3 %}
                    {{ 'license.status.document_received'|trans }}
                {% elseif license.status == 4 %}
                    {{ 'license.status.document_validated'|trans }}
                {% elseif license.status == 5 %}
                    {{ 'license.status.in_order'|trans }}
                {% endif %}
            </td>
            <td>
                <ul>
                    {% for sub_category in license.subcategories %}
                        <li>{{ sub_category.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            {% if include_actions %}
                <td class="table-data-actions">
                    {% if license.status < 3 %}
                        <a href="{{ path('app_license_download', {'licenseId': license.id}) }}"><i class="fa-regular fa-pen-to-square icon"></i></a>
                        {# <a href="{{ path('app_license_download', {'idLicense': license.id}) }}"><i class="fas fa-trash icon"></i></a> #}
                    {% elseif license.status == 3 %}
                        <i class="fa-regular fa-hourglass icon" title="En attente de validation"></i>
                    {% elseif license.status == 4 %}
                        <a href="{{ path('app_license_checkout', {'licenseId': license.id}) }}"><i class="fa-regular fa-credit-card icon disagree" title="Paye ta licence"></i></a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
