{# templates/license/upload.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "license.upload.title"|trans }}{% endblock %}

{% block body %}
    <div class="container container-upload">
        <h1>{{ "license.upload.title"|trans }}</h1>
        
        {{ form_start(form) }}
        
        <h2>{{ "license.upload.add.title"|trans }}</h2>
        {{ form_widget(form.uploaded_file) }}

        <h2>{{ "license.upload.validation.title"|trans }}</h2>

        <h2>{{ "license.upload.payment.title"|trans }}</h2>
        {{ "license.upload.payment.text"|trans|raw }}

        <div class="custom-checkbox">
            {{ form_row(form.confirm_rules, { 'label' : 'license.upload.confirm_rules', }) }}
        </div>
        <div class="custom-checkbox">
            {{ form_row(form.confirm_data, { 'label' : 'license.upload.confirm_data' }) }}
        </div>

        {{ form_row(form.submit, { 'label' : 'license.upload.btn' }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
