{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ 'payment.index.title'|trans }} {% endblock %}

{% block body %}
    <div class="container container-payments">
        <div class="heading-container">
            <h1>{{ 'payment.index.title'|trans }}</h1>
        </div>

        {{ parent() }}

        <h2><i class="fas fa-hand-holding-usd"></i> {{ 'payment.index.payment_plan_request'|trans }} ({{ paymentPlansToValidate }})</h2>
        {% if paymentPlans|length > 0 %}
            {{ include('/admin/payment/partial/_plan_table.html.twig', { 'paymentPlans' : paymentPlans }) }}
            {% if paymentPlansToValidate > 10 %} <a class="link-all" href="">Voir toutes les demandes ({{ paymentPlansToValidate }})</a>{% endif %}
        {% else %}
            <p class="alert alert-warning">{{ 'payment.index.no_payment_plan_request'|trans }}</p>
        {% endif %}

        <h2><i class="fas fa-file-invoice"></i> {{ 'payment.index.payment_order'|trans }} ({{ paymentOrdersToValidate }})</h2>
        {% if paymentOrders|length > 0 %}
            {{ include('/admin/payment/partial/_order_table.html.twig', { 'paymentOrders' : paymentOrders }) }}
            {% if paymentOrdersToValidate > 10 %}<a class="link-all" href="">Voir tous les ordres ({{ paymentOrdersToValidate }})</a>{% endif %}
        {% else %}
            <p class="alert alert-warning">{{ 'payment.index.no_payment_order'|trans }}</p>
        {% endif %}
        
    </div>
{% endblock %}