{% extends 'base.html.twig' %}

{% block title %}{{  parent() }} | {{ 'payment.order_detail.title'|trans }} {% endblock %}

{% block body %}
    <div class="container container-payment-plan">
        <div class="heading-container">
            <h1>{{ 'payment.order_detail.title'|trans }}</h1>
        </div>

        {{ parent() }}
        <div class="license-container">
        <h2>{{ 'payment.order_detail.license_of'|trans }} {{ paymentPlan.license.user.firstname }} {{  paymentPlan.license.user.lastname }}</h2>
            {{ include('/license/partial/_card.html.twig', { 'license' : paymentPlan.license, 'isAdmin' : true }) }}
        </div>

        <h2>{{ 'payment.order_detail.order'|trans }}</h2>
        <div class="payment-order-container">
            <p>{{ 'payment.order_detail.amount'|trans }} {{ order.amount|format_currency('EUR') }}</p>
            <p>{{ 'payment.order_detail.deadline'|trans }} {{ order.dueDate|date('d/m/Y') }}</p>
        </div>
        
        <h2>{{ 'payment.order_detail.acceptance'|trans }}</h2>
        {{ form_start(form) }}
            {{ form_row(form.value_date, { 'label' : 'payment.order.due_date' }) }}
            {{ form_row(form.comment, { 'label' : 'payment.order.comment' }) }}
            <button class="btn btn-cta" type="submit">{{ 'payment.order_detail.validate'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}