{% extends 'base.html.twig' %}
{% set pageTitle = action == 'create' ? 'place.form.title.create'|trans : 'place.form.title.update'|trans %}

{% block title %}{{ parent() }} | {{ pageTitle }}{% endblock %}

{% block body %}
    <div class="container place-container">
        <h1>{{ pageTitle }}</h1>

        {{ parent() }}

        {{ form_start(form, {'attr' : { 'class' : 'form-place' } }) }}

        {{ form_row(form.name, { 'label': 'place.name', 'row_attr': { 'class': 'name'} }) }}

        {{ form_row(form.address_street, { 'label': 'place.street', 'row_attr': { 'class': 'street'} }) }}

        {{ form_row(form.address_number, { 'label': 'place.number', 'row_attr': { 'class': 'number'} }) }}

        {{ form_row(form.address_zipcode, { 'label': 'place.zipcode', 'row_attr': { 'class': 'zipcode'} }) }}

        {{ form_row(form.address_locality, { 'label': 'place.locality', 'row_attr': { 'class': 'locality'} }) }}

        {{ form_row(form.address_country, { 'label': 'place.country', 'row_attr': { 'class': 'country'} }) }}

        {{ form_row(form.submit, { 'label' : (action == 'create' ? 'place.form.btn.create'|trans : 'place.form.btn.update'|trans)}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
