{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'place.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="container place-container locale-container" data-locale="{{  app.request.locale }}">
        
        <div class="heading-container">
            <h1>{{ 'place.index.title'|trans }} ({{ placesCount }})</h1>
            <a href="{{ path('app_place_create') }}" class="btn-add"></a>
        </div>

        {{ parent() }}

        {% if places|length > 0 %}
            <table class="place-table">
                <thead>
                    <tr>
                        <th class="name">{{ 'place.index.name'|trans }}</th>
                        <th class="address">{{ 'place.index.street'|trans }}</th>
                        <th class="locality">{{ 'place.index.locality'|trans }}</th>
                        <th class="country">{{ 'place.index.country'|trans }}</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in places %}
                    <tr class="place-row" data-place-id="{{ place.id }}">
                        <td class="name">{{ place.name }}</td>
                        <td class="address">{{ place.addressStreet }} {{ place.addressNumber }}</td>
                        <td class="locality">{{ place.addressZipcode }} {{ place.addressLocality }}</td>
                        <td class="country">{{ place.addressCountry.name }}</td>
                        <td class="actions">
                            <a href="{{ path('app_place_update', {'placeId': place.id}) }}">
                                <i class="fas fa-edit icon"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-warning">{{ 'place.index.no_place'|trans }}</p>
        {% endif %}
    </div>
    {% block javascript %}
        {{ encore_entry_script_tags('placesList') }}
    {% endblock %}
{% endblock %}
