<h1>{{ "license.approved.title"|trans({}, 'emails') }}</h1>

<p>
    {{ "license.approved.text_1"|trans({}, 'emails') }} <a href="{{ url('app_license') }}">{{ "license.approved.link"|trans({}, 'emails') }}</a> {{ "license.approved.text_2"|trans({}, 'emails') }}
</p>

<p>
    {{ "signature"|trans({}, 'emails') }}
</p>