{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ message.title }}{% endblock %}

{% block body %}
    <div class="container container-message-detail">

        {# Confirmation modal when archiving a message #}
        {% include 'shared/modal_confirmation.html.twig' with { 'id': 'confirmation-modal', 'message' : "modal.message"|trans, "confirmButtonText" : "modal.btn.archive"|trans } %}

        <div class="heading-container">
            <h1>
                {% if message.isArchived %}
                <span class="is_archived">[{{ 'message.index.archived'|trans }}] </span>
                {% endif %}
                {{ message.title }}
            </h1>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_message_update', { 'messageId' : message.id }) }}" class="btn-update">
                <i class="fa-regular fa-pen-to-square"></i>
            </a>
            {% endif %}
        </div>

        {{ parent() }}

        <div class="message-data">
            <div class="author-container">
                <i class="fa-solid fa-user"></i>
                <p>{{  message.sender.firstname }} {{ message.sender.lastname }}
            </div>
            <div class="date-container">
                <i class="fa-solid fa-calendar-days"></i>
                <p>{{ message.createdAt|format_datetime(locale=app.request.locale) }}
            </div>
        </div>

        <div class="content">
            <p>{{ message.content|raw }}</p>
        </div>

        {% if not message.isArchived and is_granted('ROLE_ADMIN') %}
        <div class="actions">
            <a href="{{ path('app_message_update', { 'messageId' : message.id }) }}" class="btn btn-modify">{{ 'message.index.btn.modify'|trans }}</a>
            <a data-action-url=" {{ path('app_message_archive', { 'messageId' : message.id }) }}" class="btn btn-danger delete-button">{{ 'message.index.btn.archive'|trans }}</a>
        </div>
        {% endif %}

    </div>

    {% block javascript %}
        {{ encore_entry_script_tags('modalConfirmation') }}
    {% endblock %}

{% endblock %}