{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'message.index.title'|trans }} {% endblock %}

{% block body %}
    <div class="container container-message">

        {# Confirmation modal when archiving a message #}
        {% include 'shared/modal_confirmation.html.twig' with { 'id': 'confirmation-modal', 'message' : "modal.message"|trans, "confirmButtonText" : "modal.btn.archive"|trans } %}

        <div class="heading-container">
            <h1>{{ 'message.index.title'|trans }} ({{ messageCount }})</h1>
            {% if is_granted('ROLE_COACH') %}
            <a href="{{ path('app_message_create') }}" class="btn-add"></a>
            {% endif %}
        </div>

        {{ parent() }}

        <section class="message-container">
            {% if messages|length > 0 %}
                {% include 'shared/_card_message.html.twig' with { 'messages': messages } %}
            {% else %}
                <p class="alert alert-warning">{{ 'message.index.no_message'|trans }}</p>
            {% endif %}
        </section>
    </div>

    {% block javascript %}
        {{ encore_entry_script_tags('modalConfirmation') }}
    {% endblock %}

{% endblock %}