<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>
			{% block title %}Rebels Clubhouse
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('spinner') }}
			{{ encore_entry_script_tags('menu') }}
			{{ encore_entry_script_tags('languageDropdown') }}
			{{ encore_entry_script_tags('modalConfirmation') }}
			<script src="https://kit.fontawesome.com/dd6e6a21ba.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>

		<div id="spinner" class="spinner"></div>

		{% include 'shared/modal_confirmation.html.twig' with { 'message' : "Tu t'apprêtes à changer de compte. Es-tu sur ?", 'confirmButtonText' : "Changer" } %}

		<header>
			{% if app.user %}
				<div id="hamburger-icon" class="menu-icon">
					<i class="fa-solid fa-bars icon icon-hamburger"></i>
				</div>
			{% endif %}
			<div class="menu-logo {% if app.user %}connected{% endif %}">
				<a href="{{ path('app_home') }}">
					<img class="logo" src="{{ asset('images/logo_R_72x64.png') }}" alt="Liege Rebels Logo">
				</a>
			</div>
			<div class="header-options">
				<div class="language-dropdown">
					<a href="#" class="dropdown-toggle" id="languageDropdown">
						{{ app.request.locale|upper }}
					</a>
					<div class="dropdown-menu hidden">
						{% set currentLocale = app.request.locale %}
						{% set availableLocales = ['fr', 'en'] %}

						{% for locale in availableLocales %}
							{% if locale != currentLocale %}
								<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}" class="dropdown-item">{{ locale|upper }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				{% if app.user %}
					{% set activeUser = get_active_user() %}
					<div class="profile-icon-mobile">
						{% if app.user.profilePicture %}
							<img class="member-picture" src="{{ asset('uploads/user_pictures/' ~ activeUser.profilePicture) }}" alt="Profile picture of {{ activeUser.firstname }}">
						{% else %}
							<i class="fa-regular fa-user icon icon-profile"></i>
						{% endif %}
					</div>
					<div id="children-dropdown-icon-mobile" class="children-dropdown-icon">
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="profile-icon-desktop">
						{% if activeUser.profilePicture %}
							<img class="member-picture" src="{{ asset('uploads/user_pictures/' ~ activeUser.profilePicture) }}" alt="Profile picture of {{ activeUser.firstname }}">
						{% else %}
							<i class="fa-regular fa-user icon icon-profile"></i>
						{% endif %}
						<div class="profile-user-data">
							<p class="user-name">{{ activeUser.firstname ~ ' ' ~ activeUser.lastname }}</p>
						</div>
						<div id="children-dropdown-icon-desktop" class="children-dropdown-icon">
							<i class="fa-solid fa-chevron-down"></i>
						</div>
					</div>
				{% endif %}
			</div>
		</header>

		{% if app.user %}
			<nav id="main-menu" class="menu menu-closed">
				<button id="close-icon" class="icon close-icon">
					<i class="fa-solid fa-xmark"></i>
				</button>
				<ul>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="menu-item">
							<a href="{{ path('app_members') }}">
								<i class="fa-solid fa-users"></i>
								{{ "nav.my_members"|trans }}
							</a>
						</li>
					{% endif %}
					<li class="menu-item">
						<a href="{{ path('app_agenda') }}">
							<i class="fa-regular fa-calendar-days"></i>
							{{ "nav.my_agenda"|trans }}
						</a>
					</li>
					<li class="menu-item">
						<a href="{{ path('app_license') }}">
							<i class="fa-regular fa-id-card"></i>
							{{ "nav.my_licenses"|trans }}
						</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="menu-item sub-menu-item">
							<a href="{{ path('admin_license_to_validate') }}">
								<i class="fa-regular fa-exclamation-triangle"></i>
								{{ "nav.to_validate"|trans }}</a>
						</li>
					{% endif %}
					<li class="menu-item">
						<a href="{{ path('app_statistics') }}">
							<i class="fa-regular fa-chart-bar"></i>
							{{ "nav.statistics"|trans }}</a>
					</li>
					<li class="menu-item">
						<a href="{{ path('app_profile', { 'userId' : app.user.id }) }}">
							<i class="fa-regular fa-user"></i>
							{{ "nav.my_profile"|trans }}</a>
					</li>
					<li class="menu-item">
						<a href="{{ path('app_teams') }}">
							<i class="fa-solid fa-user-group"></i>
							{{ "nav.my_teams"|trans }}</a>
					</li>
					{% if is_granted('ROLE_COACH') %}
						<li class="menu-item">
							<a href="{{ path('app_places') }}">
								<i class="fa-solid fa-location-dot"></i>
								{{ "nav.my_places"|trans }}</a>
						</li>
					{% endif %}
					<li class="menu-item">
						<a href="{{ path('app_messages') }}">
							<i class="fa-solid fa-envelope"></i>
							{{ "nav.my_messages"|trans }}</a>
						{% if unread_messages_count() > 0 %}
							<span class="badge badge-unread-count">{{ unread_messages_count() }}</span>
						{% endif %}
					</li>
					<li class="menu-item menu-item-bottom">
						<a href="{{ path('app_logout') }}">
							<i class="fa-solid fa-power-off"></i>
							{{ "nav.log_off"|trans }}</a>
					</li>
				</ul>
			</nav>
		{% endif %}

		{% if app.user %}
			<nav id="switch-account-menu" class="menu menu-switch-account menu-closed">
				<button id="close-icon-switch-account" class="icon close-icon">
					<i class="fa-solid fa-xmark"></i>
				</button>
				<ul>
					<li class="switch-account-menu-item" data-action-url="{{ path('app_switch_account', { 'userId' : app.user.id }) }}">
						<div class="card-account">
							<div class="profile-picture">
								{% if app.user.profilePicture %}
									<img class="member-picture" src="{{ asset('uploads/user_pictures/' ~ app.user.profilePicture) }}" alt="Profile picture of {{ app.user.firstname }}">
								{% else %}
									<i class="fa-regular fa-user icon icon-profile"></i>
								{% endif %}
							</div>
							<div class="member-name">
								<p>{{ app.user.firstname }}
									{{ app.user.lastname }}</p>
								{% if app.session.get('activeUser') is same as(app.user.id) %}
									<p class="active">
										Compte actif
									{% endif %}
								</p>
							</div>
							<div class="actions-icon icon">
								{% if app.session.get('activeUser') is same as(app.user.id) %}
									<div class="connected"></div>
								{% else %}
									<i class="fa-solid fa-shuffle icon"></i>
								{% endif %}
							</div>
						</div>
					</li>
					{% for child in get_children(app.user.id) %}
						<li class="switch-account-menu-item" data-action-url="{{ path('app_switch_account', { 'userId' : child.id }) }}">
							<div class="card-account">
								<div class="profile-picture">
									{% if app.user.profilePicture %}
										<img class="member-picture" src="{{ asset('uploads/user_pictures/' ~ child.profilePicture) }}" alt="Profile picture of {{ child.firstname }}">
									{% else %}
										<i class="fa-regular fa-user icon icon-profile"></i>
									{% endif %}
								</div>
								<div class="member-name">
									<p>{{ child.firstname }}
										{{ child.lastname }}</p>
									{% if app.session.get('activeUser') is same as(child.id) %}
										<p class="active">
											Compte actif
										{% endif %}
									</p>
								</div>
								<div class="actions-icon icon">
									{% if app.session.get('activeUser') is same as(child.id) %}
										<div class="connected"></div>
									{% else %}
										<i class="fa-solid fa-shuffle icon"></i>
									{% endif %}
								</div>
							</div>
						</li>
					{% endfor %}
					<li class="menu-item menu-item-bottom">
						<a href="{{ path('app_logout') }}">
							<i class="fa-solid fa-power-off"></i>
							{{ "nav.log_off"|trans }}
						</a>
					</li>
				</ul>
			</nav>
		{% endif %}
	</body>
</html>
{% block body %}
	{# Display flash messages #}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				<p>{{ message|raw }}</p>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}
