<div id="{{ id }}" class="modal">
	<div class="modal-content">
		<h2 id="modal-title">{{ "modal.title"|trans }}</h2>
		<p id="modal-text">{{ message }}</p>
		<div class="button-container">
			<button class="confirm-button btn btn-danger">{{ confirmButtonText|default('modal.btn.delete'|trans) }}</button>
			<button class="cancel-button btn">{{ "modal.btn.cancel"|trans }}</button>
		</div>
	</div>
</div>
