{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "payment.cancel.title"|trans }}{% endblock %}

{% block body %}
<div class="container success-container">
    <h1>{{ "payment.cancel.title"|trans }}</h1>
    {{ "payment.cancel.text"|trans|raw }}
    <a href="{{ path('app_license') }}" class="btn">{{ "payment.back"|trans }}</a>
</div>
{% endblock %}