{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ "payment.order.approved.title"|trans }}{% endblock %}

{% block body %}
<div class="container success-container">
    <div class="heading-container">
        <h1>{{ "payment.order.approved.title"|trans }}</h1>
    </div>

    <h2>{{ "payment.order.approved.welcome"|trans }}</h2>

    <p>{{ "payment.order.approved.text"|trans|raw }}<p>
    
    <a href="{{ path('app_license') }}" class="btn">{{ "payment.back"|trans }}</a>
</div>
{% endblock %}